<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://b1-q.mafengwo.net/s15/M00/DA/C6/CoUBGV3jx4yAGkmaAAWdS76SDGc896.jpg?imageView2%2F2%2Fw%2F680%2Fq%2F90%7CimageMogr2%2Fstrip%2Fquality%2F90</string>
		<string>幸福记忆簿—欧洲蓝照耀我心房</string>
		<string>对 欧洲 大陆的向往，源于那些电影，蓝天白云以及古老的欧式建筑
终于，在2019年完成了婚姻大事，小鳕鱼和狗周周踏上了征服 欧洲 大陆的疯狂旅程

为何是疯狂？？
因为整个行程，不算路上时间，有整整17天，All Day！且是自由行！
欧铁票、门票、公共交通、住宿、餐饮等等通通都要自己来 
对于我们，无论从经济、体力、精力、时差等等，都是一次巨大的挑战
大家都说，我看你是疯了，哈哈哈哈哈哈哈
我也觉得我疯了，但是还是毅然决然的启程啦~~~~~~~ 

经典旅行团路线的自由行， 法国 - 瑞士 - 意大利 ，却有不一样的体验
法国 ： 巴黎 （最后一晚经历了惊心动魄）
瑞士 ： 卢塞恩 、Weggis小镇、 因特拉肯 、施皮兹小镇、瀑布小镇、 少女峰
意大利 ： 威尼斯 、 佛罗伦萨 、The mall、 比萨 、 五渔村 、 罗马
时差6小时，出发啦！！！！！！！

游记中有很多关于景点的介绍，基本都是出自马蜂窝，统一说明下哈

【关于 申根 签证、机票+住宿、 欧洲 交通、景点门票+购物等干货信息可以直接点段落标题去最后】因时差缘故，竟然凑出了17个整天，我真是厉害，具体行程如下：
Day0 9.17（周二） 南京 南站- 上海 虹桥- 上海 浦东机场
 法国 
Day1 9.18（周三） 巴黎 戴高乐机场-民宿-花神咖啡-圣日耳曼德佩修道院-La Maison d’Isabelle（可颂牛角包店）-艺术桥-塞纳河左岸闲逛-莎士比亚书店- 巴黎 圣母院
Day2 9.19（周四）凯旋门-香榭丽舍大街-蒙田大街-大皇宫小皇宫- 亚历山大 三世桥-卡鲁索凯旋门-卢浮宫
Day3 9.20（周五） 比尔 哈克姆桥-埃菲尔铁塔-夏悠宫(Palais de Chaillot)-蒙马特高地（圣心堂、爱墙、阶梯）-奥赛博物馆-圣礼拜堂-铁塔夜景
Day4 9.21（周六）黑白棋广场-蓬比杜中心（拍照）- 巴黎 歌剧院-老佛爷-塞纳河游船-凯旋门（游行）-协和广场
 瑞士 
Day5 9.22（周日）退房- 巴黎 火车站- 卢塞恩 火车站-民宿-圣莱奥德伽尔教堂-琉森湖-水塔花桥-斯普洛耶桥-天鹅广场-垂落的 狮子
Day6 9.23（周一） 天鹅广场-琉森湖-Weggis小镇-穆塞格城墙
Day7 9.24（周二） 卢塞恩 火车站- 因特拉肯 火车站-民宿-施皮兹小镇
Day8 9.25（周三） 少女峰 -劳特布鲁嫩（瀑布镇）- 因特拉肯 合围克街
 意大利 
Day9 9.26（周四） 退房- 因特拉肯 火车站- 威尼斯 火车站（主岛）-民宿-里亚托桥-圣马可广场
Day10 9.27（周五） 主岛-彩色岛-主岛逛街（Triangle）-叹息桥
Day11 9.28（周六） 退房-Local早餐- 威尼斯 火车站- 佛罗伦萨 火车站-中央市场-民宿-周边闲逛
Day12 9.29（周日） The mall-Local夜宵
Day13 9.30（周一） 比萨 - 五渔村 -T骨牛排
Day14 10.1（周二） 新圣母大教堂-Santa Maria Novella店（美第奇家族药妆店）- 佛罗伦萨 旧宫-维琪奥桥-米开朗琪罗广场-日落
Day15 10.2（周三） 退房- 佛罗伦萨 火车站- 罗马 火车站-民宿-纳 沃纳 广场-万神殿-特 莱维 喷泉（许愿池）- 西班牙 广场-商圈
Day16 10.3（周四）民宿- 罗马 斗兽场-君士坦丁凯旋门-帕拉迪尼山-古 罗马 遗迹- 威尼斯 广场-真理之口- 西班牙 广场商圈-T骨牛排
Day17 10.4（周五）退房（寄存行李）-圣天使桥-圣天使堡-大教堂-大巴-机场
D0 出发12小时呼呼大睡
依旧是坐高铁到 上海 虹桥站
随后大巴前往浦东机场T2航站楼
我们是搭乘了20:15分的大巴，但是路上有点堵车，所以快21点半才到浦东
当时已经开始值机了，队伍有点长
出境速度挺快的，随后就是逛了40分钟日上
00:15分，飞机起飞啦 
 Tips：机场大巴大概是15-30分钟一班，路上时间大约1小时，算好时间
自热火锅不能带，我们被开箱，忍痛送给了机场保洁阿姨，哭 

全程9000多公里，12小时飞行</string>
	</array>
	<array>
		<string>http://n1-q.mafengwo.net/s15/M00/BF/53/CoUBGV4MSG-Af3q0AApcVX5xskY267.jpg</string>
		<string>沉醉于「法意」游未尽</string>
		<string>又到一年暑假时，今年我们早早决定好了，去一趟 欧洲 。
我一直向往着浪漫的 法国 和充满艺术气息的 意大利 ，在RR的安排下，「法意」之旅提上日程了，简直是梦想成真呀！多谢RR，么！

出行前的准备
1、签证：要去 申根 成员国的话，如果你只去一个国家，就必须向该国申请 申根 签证；如果去几个国家，申请的国家就是你要停留时间最长的国家；如果是两个目的地国家所停留的时间相差无几，则可以向首次入境的国家申请签证。PS.我们这次在 意大利 停留的时间比在 法国 长，所以申请的是 意大利 签证。
2、转换插头、牙膏牙刷、洗浴用品（大多数 欧洲 酒店不提供）
3、景点门票可以提前或当天购买（在淘宝飞猪能搞定，而且出票一般都挺快），BUT！热门景点门票在旅游旺季必须提前购买，例如卢浮宫博物馆、 佛罗伦萨 圣母百花大教堂登穹顶+钟楼的套票。
4、VISA、银联卡，兑换现金（在国内提前2-3个工作日打电话到银行预约外币兑换，这次我们忘记兑换现金，去到 欧洲 才取现，手续费令人手抖......），记得准备零钱！（ 欧洲 大部分公共厕所收费1-2欧不等）
5、 欧洲 电话卡
6、APP：Omio（可购买 欧洲 地区的火车票，我们的城际火车票都在这里下单，好用推荐）、Google Maps（用于导航）、Google翻译、TripAdvisor（外国版大众点评）、Uber、口袋导游
7、预约接送机
8、行程单、酒店的预订单、往返机票、城际火车票（各类清单要打印出来，在机场值机人员要检查确认）


行程路线
2019.8.11——2019.8.30
D1： 广州 —— 伊斯坦布尔 （转机）
D2： 伊斯坦布尔 —— 巴黎
D3： 巴黎
D4： 巴黎
D5： 巴黎 —— 那不勒斯
D6： 那不勒斯 —— 卡普里岛 —— 那不勒斯
D7： 那不勒斯 —— 庞贝 —— 那不勒斯
D8： 那不勒斯 —— 罗马
D9： 罗马 ——FDG—— 罗马
D10： 罗马 —— 佛罗伦萨
D11： 佛罗伦萨 —— 拉斯佩齐亚
D12： 拉斯佩齐亚 —— 五渔村 —— 拉斯佩齐亚
D13： 拉斯佩齐亚 —— 帕尔马 （中转）—— 威尼斯
D14： 威尼斯
D15： 威尼斯 —— 米兰
D16： 米兰 —— 尼斯
D17： 尼斯 —— 摩纳哥 —— 尼斯
D18： 尼斯 —— 巴黎
D19： 巴黎 —— 伊斯坦布尔 （转机）
D20： 伊斯坦布尔 —— 广州


初见 巴黎
「2019.8.12」
当地时间下午五点，飞机落地戴高乐机场，接机师傅来送我们到酒店。师傅是华人，好热情，跟我们说这些天刚好碰上 法国 人民放假玩去了，所以开门做生意的餐厅会比较少，街上也会比较安静，提醒我们出门要注意安全。

到了酒店，休息一会儿，我们就迫不及待地出门去感受 巴黎 的气氛。
导航埃菲尔铁塔，此时我们兴奋、期待，一路上说说笑笑，有一种不真实的感觉。
走到塞纳河边，铁塔出现在眼前。OMG！曾经的“遥不可及”成为现实，我整个人处于亢奋当中，洋溢着一步一步向着铁塔靠近的喜悦。</string>
	</array>
	<array>
		<string>http://b1-q.mafengwo.net/s15/M00/CA/E2/CoUBGV3mVM-AYcnkAAswA8PVqSA981.jpg?imageMogr2%2Fthumbnail%2F%21230x142r%2Fgravity%2FCenter%2Fcrop%2F%21230x142%2Fquality%2F90</string>
		<string>你说你更热爱于，旅途中我的样子</string>
		<string>这次前前后后在 欧洲 呆了近一个月，从热情洋溢的 意大利 到特立独行的 柏林 ，然后是洁净至“令人发指”的斯德歌尔摩，落地斯德歌尔摩时， 北欧 已入深秋，寒意肆起，瑟瑟发抖了几天后我们又飞到了阳光灿烂，大海沙滩的 西班牙 ，真是令人愉快啊！最后一站是 布拉格 ，即便 布拉格 的气候没有 巴塞罗那 般如火热情，我却在那里渡过了非常难忘的几日美好时光。

不多闲语啦，咱们从 意大利 开始聊起吧，这次游记打算以赏图为主，毕竟最美好的都定焦在一张张图片中了。罗马，梦开始的地方
罗马 不愧是有着悠久历史的文明古城，城市中处处都保留着古迹的遗址。我们这次租住的房子就恰巧是在一栋古迹之中，阳台正对着中央车站。虽然舟车劳顿，我反到没有什么睡意，隔天清晨早早便醒了。我躺在昏暗的房间床上，看着方形窗外的天空一点点被染成橘黄色，仿佛置身在一场电影中。

漫走于 罗马 街头大概是我们最常做的事情，因为租住的房子地理位置很好，我们在 罗马 的大半行程都是步行，一路上说说笑笑，风土人情也尽收眼底。

</string>
	</array>
	<array>
		<string>http://p1-q.mafengwo.net/s13/M00/F8/14/wKgEaVx6y8yAXONfAAfCFoWtc_837.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90%7CimageMogr2%2Fstrip%2Fquality%2F90</string>
		<string>穿越热情与异域的国度—— 梦中的西班牙</string>
		<string>DAY 1 布鲁塞尔 ☞ 塞维利亚

DAY 2 塞维利亚 （ 塞维利亚 大教堂 西班牙 广场 看弗朗明哥舞）

DAY 3 塞维利亚 ( 都市阳伞 黄 金塔 塞维利亚 皇宫）

DAY 4 龙达 一天往反 住 塞维利亚 （ 龙达 新桥 内尔哈 ）☞ 下午 塞维利亚

DAY 5 塞维利亚 ☞ 科尔多瓦 （ 清真寺 罗马 桥） -住 科尔多瓦 车费25.56欧 房费40.47

DAY 6 科尔多瓦 ☞ 格拉纳达 住宿48.56 车费37.22

DAY 7 格拉纳达 (阿尔罕布拉宫 ）☞ 巴塞罗那

DAY 8 古埃尔公园☞巴特罗之家 ☞奥尔塔迷宫公园

DAY 9 米拉之家☞圣家堂☞zara shopping

DAY 10 加泰罗尼亚 音乐宫 ☞ 巴塞罗那 大教堂 ☞接吻之墙 ☞ 圣保罗 十字医院

DAY 11 巴塞罗那 ☞ 锡切斯 住宿海边
DAY 12 海边狂欢一日 晚 巴塞罗那 ☞ 布鲁塞尔
塞维利亚 地方不大，走路和坐公交几乎是一个时间，所以所有的景点我们都选择步行到达。
很快我们就来到了第一站- 塞维利亚 大教堂
说到 塞维利亚 最著名的便是这大教堂了！从外到里面都很震撼，是目前我参观过教堂中最大的一个。按照惯例，我先来科普一下教堂的知识

塞维利亚 大教堂
塞维利亚 大教堂是世界最大的哥特式主教座堂之一，也是世界上第三大教堂。 1987年列为世界文化遗产

历史
塞维利亚 圣母主教座堂的所在地原是一座清真寺，完成于1198年。1248年改为天主教教堂。1401年，计划重建新教堂：“我们要建造一座巨大的教堂，以至于见到的人都会认为我们疯了”。 1402年开始建造，直到16世纪完成。其中殿高42米，装饰极为华丽。其钟楼为吉拉达。
这座教堂借鉴了清真寺的一些建筑元素。这座教堂证明了 塞维利亚 的财富，以及曾经拥有的主要贸易中心的地位。

开放时间
7月-8月9：30-16：00；其他时间周一至周六11：00-17：00，周日和节假日14：30-18：00。教堂边侧有一座高耸于所在建筑物之上的方形高塔，这就是有名的希拉尔达塔（Giralda）。塔高98米，作为原伊斯兰教寺院建筑中仅存的一部分，塔身墙面上有各种标志阿拉伯艺术特色的花纹图案，显示了阿拉伯建筑艺术的美丽风采。塔顶装有25口大钟的钟楼和楼顶上的一尊代表“信仰”的巨大塑像，塔顶雕塑名为El Giraldillo。巨大塑像高仰站立，手中举着一面半掩的旗帜，总高4米。这个重达450kg的风向标，在风中是可以转动的。 塞维利亚 人传说，棕榈叶朝向某一个方向时， 塞维利亚 就会下雨。塔内没有楼梯，而是环形坡道，以便相关人员骑马到塔顶。登上70米高的瞭望台，可以一览 塞维利亚 全景。</string>
	</array>
	<array>
		<string>http://b1-q.mafengwo.net/s13/M00/C6/4B/wKgEaVzYSPyAUHzKAA4DoGCqzcw23.jpeg</string>
		<string>一个人的柏林之旅</string>
		<string>此次去 柏林 本来不在计划之内，因为在传统的印象里 德国 除了工业技术特别发达以外，没有什么特别吸引我的景点。但是偶然看到easyje航空从 哥德堡 往返 柏林 的机票只要800块不到，刚好5月4号~5号又没有其他安排，刚好之前 德国 的朋友又推荐我去 柏林 看看，所以我果断的定好机票和酒店就去了。
PS: easyjet是 英国 的一家廉价航空，服务非常简洁，票价是真的是低的非常亲民，经常能捡到几十欧的机票，所以在 欧洲 的朋友真可以好好利用。交通，住宿和景点门住宿： 预算有限或者自由行的朋友我不是十分推荐订酒店,因为 欧洲 的酒店真的非常贵，随随便便都是一个晚上1000RMB以上，位置稍微好一点的就更不用说了。我非常推荐的是 airbnb 上的民宿和公寓，性价比非常高，无论是租单个房间还是整套公寓，都很划算，我搜了下 柏林 17~18号的，价格大部分都在300~600之间，而且在公寓里可以自己做饭，有一些主人家里的公共空间和家具可以使用，还可以和房东了解一些当地的美食和游玩项目，其实如果是全家出行的话这样的住宿更有家的感觉，体验非常棒。
在 欧洲 待了两个多月时间，去过 瑞典 的 哥德堡 ， 斯德哥尔摩 ， 挪威 的 奥斯陆 和 卑尔根 ，以及 丹麦 的 哥本哈根 ，我发现 欧洲 的主流城市一定会有城市卡这样东西，它包括了市内交通，景点以及一些当地活动的费用，这是作为短期旅行的不二之选，只要你的行程在两天以上就记住： 买它。 所以到 柏林 机场的第一件事就是买 柏林 通卡。如果从 柏林 泰各尔机场到达的，在A航站楼的tourist info可以买到，有清楚的标识非常好找。 柏林 卡有下面几种选择，其实大部分主流景点都在AB区，所以涵盖AB区的卡就够了，我只有2天的行程，所以就买了48h 卡，20欧。
出了机场第一件事，并不是急着去景点玩，当然是去享受一下当地的美食啦。大猪肘作为 德国 久负盛名的美食，是无论如何都不能错过的，基本上每家 德国 餐厅都会有，但是当然要去最出名的几家啦，下面的几家餐厅是我的朋友推荐给我的，第一家是 柏林 的百年老店，但是只有夜里12点到上午12点，我去的时候已经关门了，所以我去的是第三家，本来以外一个人点一个猪肘和一杯啤酒差不多，但是当猪肘端上来的时候我真的错了，猪肘非常的大，三个人吃一份差不多。

1. Zur letzten Instanz. Waisenstraße 14-16, 10179 Berlin.
2. Zur Haxe. Erich-Weinert-Straße 128, 10409 Berlin. 
3. Hofbrau Munchen Berlin，Karl-Liebknecht-Strasse 30

烤猪肘外酥里嫩，配上香醇的 德国 黑啤，真是太享受了 
</string>
	</array>
	<array>
		<string>http://n1-q.mafengwo.net/s15/M00/FF/3F/CoUBGV5P2OSASJeeAAs9449cOoU534.JPG</string>
		<string>2017夏～叨酱的首次欧洲行：德国/法国/比利时/荷兰～</string>
		<string>时间  ：2017.08.03-2017.08.12(时隔三年，我竟一时想不起了  )
人物  ：叨叨酱（ 英国 在读小博一枚）and 老袁（ 上海 某知名医院非知名医务工作者）
方式  ：自由行
花销  ：这点我要检讨，目前出去玩我竟然都没算过大概花了多少米  ，姑且1万软妹币吧～
让本叨再叨叨一下吧，不吐不快，哈哈哈哈嗝儿～现在是2020年2月21日，三天前提交了博士毕业论文，答辩定在30岁生日到来的前一周，顺利的话，30岁之前成为真正叨叨（Dr）的愿望就可以实现啦。本该给自己放个假，但是因为新冠，回国也回不去，出去玩 申根 又过期了， 英国 也玩得差不多了，而且最近这妖风阵阵的天气，呜，还是乖乖在爱宝呆着吧，把之前想做却没做的事情完成一下，到该道别的时候也能干净利索地说再见。所以呀，就克服懒惰，开始把之前欠下的游记都仔细找补回来，感觉是一项浩大神圣又颇有挑战性的任务，但我觉得我可以，啊哈哈哈哈，过去几个月给自己加油加习惯了  PS：当打下‘概要’二字的时候忽然想笑，接下来是不是还有Chapter 1,2,3啊哈哈哈哈，写游记也要做个严谨的叨，嘻～
2017年7月完成了博士第一年的考核，顺利通过，意味着不用拿个Master滚蛋了，导师8月休假，爸妈9月来看我，所以我也给自己在8月放个假，老袁从研会其他同学那里知道我出国了过来问我，我就随口问了一句，没想到就成行了。
BGM，嗯，或许应该是瓦格纳的某首曲子，可是如果更符合彼时彼刻的话，2017初夏的榴莲臭臭配香茶更合适，就你啦《咖喱咖喱》～哟吼～

行程单
我在 英国 ，老袁在 上海 ，我们在 德国 会合，我以自己的行程为准。
Day 1（03/08/2017）： 爱丁堡  慕尼黑
Day 2 （04/08/2017）： 慕尼黑  福森  海德堡
Day 3 （05/08/2017）： 海德堡  巴黎
Day 4 （06/08/2017）： 巴黎
Day 5 （07/08/2017）： 巴黎  布鲁塞尔
Day 6 （08/08/2017）： 布鲁塞尔  布鲁日  布鲁塞尔
Day 7 （09/08/2017）： 布鲁塞尔  鹿特丹
Day 8 （10/08/2017）： 鹿特丹  阿姆斯特丹
Day 9 （11/08/2017）： 阿姆斯特丹
Day 10 （12/08/2017）： 阿姆斯特丹  爱丁堡
输入完感觉打一枪换一个地方，哈哈哈哈哈～

签证
我在 英国 读书，所以在爱宝申的 德国 签证，无非就是学生证明/交通证明（本次旅行除了往返机票，其余都是火车出行，所以我买的interrail，啊，27及以下可以享受青年折扣，当年本叨还享受了这个折扣  ）/住宿全是booking搞定，有可退有不可退，不碍事儿的/保险（这个因为是第一次申不懂得，当时就买了10天的保险，所以递签时staff拿着保险犹豫了一下，我还以为有什么问题呢，如果买一年的，可能就不会只给我一个月的签证了，当年年幼无知啊  )/行程单/申请表/照片，最后还有很重要，cash cash cash，我忘了带钱，签证中心又不接受刷卡，所以提交完材料又按staff说的到不远的sainsbury门口取了现金，好像是50多镑，可以说德签还是挺良心的了  。忘了是10天还是一周了，去签证中心自取。老袁是自己在国内办的，也一切顺利。我们都是提前两个月办的。
Tips：我买的interrail，老袁买的eurorail，普通列车可以直接上车，车上列车员会检票，只要在那之前把列车信息填好就行，但是高速列车，尤其是跨国的，记得提前额外订座，因为当天再买很可能没有票了，我们也因此没有去成偶心心念念的 科隆  不过，旅行不就是这样吗，安慰自己说没有遗憾的旅行不是真正的旅行 

Day 1 爱丁堡 飞 慕尼黑，游玩慕尼黑
老袁是2号到的，我是3号一早飞 慕尼黑 。出关后一股久违的热浪袭来，内心无比喜悦躁动，要知道爱宝的夏天最高温也就20出头，而我对热的忍耐力远远高于对冷的，我爱夏天，always～出来后坐机场大巴到市中心中央火车站，十几欧记不清了，然后步行到住的地方，和老袁会合，大家都还是老样子。
关于 慕尼黑 ，英文名Munich，一直觉得这个音译有点奇怪，或许慕内科更合适，不过 慕尼黑 胜在更严肃浪漫，哈哈哈哈，就像Cambodia（ 柬埔寨 ）一样 
慕尼黑 的这些景点都很近，也大都在市中心 玛利亚 广场附近，所以推荐住中央火车站附近，几乎所有景点都能步行到达，去机场或者搭乘火车也很方便。
OK，第一站阿萨姆教堂（免费，想念两块五一瓶阿萨姆的年代  ），蛮难找的，因为在一条街上跟其他的房子连在一起，所以特别不起眼，但是进去之后洛可可的风格还是挺富丽堂皇的（建筑知识灰常灰常有限，不过来之前看了一些纪录片，对各种建筑风格可以大概识别一下），到处古铜色金灿灿的，一个老爷爷提醒老袁把帽子摘下来。教堂很小，坐了一会儿，老袁拍了拍照片我们就出来了，因为我没拍照然后老袁也没发照片给我，所以就不附图了。
第二站 玛利亚 广场，市政厅也在这里，人也是真的很多。这里应该是 慕尼黑 的心脏了，建筑上挂了有些暗红色的鲜花，和建筑的黑灰色相得益彰，比鲜红色好看许多。广场中央矗立着圣母圆柱，每天有几个整点钟楼上是有木偶表演的，本来打算看5点的表演，可是跟老袁在飞机上遇到的姑娘（此处高亮老袁的社‘liao’交‘mei’技能  ）一起吃饭耽搁了，没有看成。</string>
	</array>
	<array>
		<string>http://n1-q.mafengwo.net/s15/M00/B7/1C/CoUBGV4TKLuAIDJCABJHpNAQD6k583.jpg</string>
		<string>从帕纳索斯深山到爱琴海双岛</string>
		<string>原因很简单；古 希腊 是西方文明的发源地，拥有悠久的历史并对世界历史的发展有过重大影响。同时她那灿烂的古代文化以及众多的古文明遗址，秀丽的山川和以美丽浪漫而闻名遐迩的 爱琴海 都令人心驰神往。2016年末，我曾差点成行，后因种种原因放弃了前往 希腊 的计划，改去了 约旦 和 以色列 。但去 希腊 的念头却一直心心念念的在我心头发酵，直到两年后的今天才得以成行。

随着这几年自已在多次的出境游时听到的和看到的以及相关的负面报导，使我对风险防范的意识有所提高。的确，外面的世界并非想象中的只有诗意与远方，照样充斥着各种邪恶，欺诈，陷井和危险。在安全感严重缺失的情况下我选择了跟团，跟团虽然也有瑕疵，自由程度当然也不如自由行。但在吃，住，行，游玩上不用自已操心，更为重要的是在自身安全上会有较好的保障。基于上述；怎样去挑选一个线路，景点安排合理，食宿条件好，性价比高，入住酒店在4星以上（特色酒店如洞穴，悬崖，树顶等除外）的品质团就成为我在出行前的首要选择。

从 成都 去 希腊 的团队很多，尽管良莠不齐，价格不一，但行程却是千篇一律的不变。此次我的专属旅游顾问推荐给我的这个团队是由其它客人自选定制而成的。对于我这种懒于做攻略的人来说不啻是个福音，我对这个 希腊 深度游的行程和入住的酒店都很满意。自选路线中还特意增添了 希腊 古代文明的起源地“德尔菲”和享有“天空之城”美誉的梅黛奥拉修道院区，这两处历史遗址都被列入了世界遗产，非常值得一去。另外，中转地选择了 新加坡 ，返回时在 新加坡 有近两天的自由活动，让我也很满意。毕竟老婆没有去过 新加坡 ，有一石二鸟的效应。只是自组团的人数已有22人，而且外人参与还需他们同意这点很头疼。还好，通过旅行社的斡旋，我们两人终于被他们接纳。此时，他们的护照已送 希腊 领馆出签，好在我俩都有法签。办理了 新加坡 电子签后，为确保法签能在 雅典 顺利入关，旅行社还专门为我们做了份经由 雅典 前往 巴黎 的往返行程单。

到机场后才知道这22人都是由原 成都 军区总医院的退休老战友们所组成，其中不乏以前医院各个科室中的佼佼者和老专家。而且除了一位专程陪伴父母前往的女孩外，我们居然还是年龄最小的两个。机场见面后，我们被告之已被分好了组，每组6人，共4组，我们分在第4组。与我们的组长郝姐见面后，她给我们两人的旅行箱都系上了一根红布条。她说这就是我们团的标志，以后在取行李时只要见到系有这种红布条的旅行箱时，不管是谁的都先帮忙从传送带上拎下来并加以照看。一点细节，让我感受到这是一个计划周全，相互关心，值得信赖的集体。</string>
	</array>
	<array>
		<string>http://b1-q.mafengwo.net/s15/M00/A0/C7/CoUBGV5ed-uAbBN6AAvoVXz7pY4060.JPG</string>
		<string>梦开始的地方 - 旅行的意义</string>
		<string>2010年因交换学习第一次踏出国之旅，世界从此不再是想像中的那个大，那么遥不可及。有的时候，只是为了和自己爱的人能够多待一会，可能就省吃俭用买一票飞十几个小时， 为了不让身边的人觉得自己总是出去，六七年来，从来不在朋友圈发图，从来不让人知道自己去了哪里，甚至是自己的父母兄弟。这也是为什么去一次 欧洲 ，可能只会待在一个国家的原因，甚至有的时候都没有机会去周边的城市，每天就是等她忙完回来，然后一起吃个晚饭，或者陪她看电视吃一个她喜欢的泡面。旅行，在很长一段时间，是没有旅行的意义的，所有的意义，只是为了可以多和她在一起待一会。有时候，我苦笑自己，是一个行礼箱。只有旅行的时候，才可以和一直在她身边，等着她回来，不用担心醒来的时候她不在。
直到今天，时间也自由了，经济也基本算是可以一定程度的自由了，虽然不需要和身边的同事老板解释，但为了不让客户发现，还是悄悄的出行……当然，也是不给她带来不必要的麻烦。
这里是记录游记的，但是要开始自己的记录，不得不从故事的开始说起。是说给自己，还是希望有一个倾听自己故事的我，也说不清楚。
只是，2020年的这个疫情引发的超长假期，让自己想要好好整理和记录一下这些年印象深刻的旅行和旅行中有趣的事。特别是和自己的爱好有关的东西，希望可以和更多的朋友分享那些美好的东西。

真正可以记录的旅行并不是特别多，但总会有一些特别的收获。就像最近刚刚结束的这一次。
2020年的2月，原本我们是要作为某手机品牌的供应商在 巴塞罗那 的MWC世界移动大会中提供服务，但因为疫情的原因，大会临时取消了，但因为她已经在了，所以我也依然前行，遗憾的时签证开始的时间比她到达的时间晚了一个星期，所以可以在一起的时间少了一个礼拜。等我到达的时候，她也基本要返回了。留在巴塞的时间，去了只有50分钟飞行距离的 马略卡岛 。原来是计划和她一起去的。但只能独自前行了。
仔细想来，2010-2019 我的这十年，大概就是学习旅行的十年。翻看自己的护照，2013-2019年之前，去了5次 泰国 ，6次 德国 ，4次 法国 ，3次 英国 ，2次 新加坡 ，2次 西班牙 ，2次 美国 ，1次 意大利 ，1次 芬兰 ，1次 越南 。 欧洲 最多，但不是那种德法意几国游的，每次都只去一个国家。
其实，其中的大部分旅行，只能算是旅行，并不是度假。</string>
	</array>
	<array>
		<string>http://n1-q.mafengwo.net/s10/M00/70/3D/wKgBZ1oifh2ABqe_AAUzSxRlHd889.jpeg</string>
		<string>独行英法：一个“购物狂”的自白</string>
		<string>一小时前，飞机落地希斯罗机场，我到 伦敦 了，学了十几年的英语，终于到了她的发源地。天气稍微有一点阴，没有托运行李，很快就出关了。从希斯罗机场坐特快线去酒店，跟 北京 相比，这里的地铁更加老旧跟复杂一点。 伦敦 地铁的轨道有些少，经常出现多条线路共用同一轨道的情况。第一次坐这里的地铁，傻傻分不清楚Circle Line和District Line，直到离目的地越来越远时，我才恍然 大悟 ，原来不知道在哪站，就悄无声息的坐错了车。
后来才晓得， 伦敦 地铁是世界上最古老的地下铁道，从1863年正式投入运营，至今已经有150余年的历史了。原来那黄色砖墙上散发的气质，都是时间的味道。
海关是个带着牙套的可爱女生，她很喜欢我画着 英国 国旗的指甲。“这是你自己设计的吗？真的太有才华了。”
我喜欢西方人“直言不讳”的称赞，这样总能很快的拉进两个陌生人间的距离。所以每次出发新的国家之前，我都会把目的地的国旗画在指甲上，就像纹身一样，给独自旅行的自己一点小小的、不可小觑的力量。</string>
	</array>
	<array>
		<string>http://n1-q.mafengwo.net/s15/M00/11/6E/CoUBGV5fVgCAE0Q3AApjvZRc3ZU107.JPG</string>
		<string>西欧11天漫游【德法意瑞等七国游】</string>
		<string>2015年的11月，我遇到了我现在的先生Janus，一个和我一样热爱潜水热爱旅行的男孩。他的歌声里有治愈的味道。

他心疼于我在深夜酒吧里的哭喊前任的名字，心疼于我这几年披星戴月的 广州 肇庆 肇庆 广州 的穿梭的样子。从2013年起，我穿过每一个冷暖自知的四季走向这座熟悉又陌生的城市，一个人在前任父母家楼下把离别说了千万遍又重复千万遍，固执的不愿承认13年的一声再见便是一生不见。

最后一次去 肇庆 在前任楼下哭的撕心裂肺时Janus在电话里说“回 广州 吧，我来接你”。
2016年的4月，终于有点积蓄的我，本想去 法国 ，无奈是个单身大龄未婚女青年，担心签证不好办。然后又选择了去 巴厘岛 旅行。 巴黎 ，成了我的一块心病。

2018年的4月，我和Janus结婚了。原本想蜜月旅行去 法国 ，可因没提前办好签证又搁置了，改去了 摩洛哥 。不曾想就这么短短几年的时间，好像突然走了好过的地方。一个国家，两个国家，到二十个国家。

2019年11月，原本计划的辞职旅行，首站就是 法国 ，可是又被老板的五斗米吸引而折腰了。辞职旅行变成了请假旅行。这一次，是我自己去。Janus很尊重我的决定，也相信我能保证安全。我说我要一个人去的时候，我并不清楚他说“好的”时候，是否会想起我记忆中的另一个他，或许他记得，只是从来不说。

我设想过很多次，当我终于站在埃菲尔铁 塔下 的时候会是怎样的神情，会想到那个我爱了整整6年的人？还是会像其他游客一样，激动地绕着铁塔心无杂念的拍照留念。

而我真正站在埃菲尔铁 塔下 的时候，我却什么都没有想，我用一种最 平和 的方式，告诉 巴黎 ，我终于到达。

就像我离死亡最近的时候，也是这种状态。有一次在海里溺水，但我没有像电影情节一样，我不是把这一生爱过的恨过的笑过的哭过的人和事都快速放映一遍，而是真真的什么都没有想， 平和 到不能再 平和 。原来爱情也是一样，用力过猛的爱情，攒够了悲伤，也就不会再哭泣。放下过去接纳自己才是一个幸福的开始。

【出发咯】
 写完了悲伤的故事，就加一个句号，开始快乐旅程吧。

 旅程总交代：
这次总共去了7个国家：
【 法国 】 首都 巴黎 、 科尔马
【 瑞士 】首都 伯尔尼 、 卢塞恩 、皮拉图斯山
【 列支敦士登 】首都 瓦杜兹
【 德国 】芙森（新天鹅堡）
【 奥地利 】 因斯布鲁克
【 意大利 】 威尼斯 、 比萨 、 五渔村 、 罗马
【XXX】关系不好，不说了。

DAY 1 广州TO巴黎
</string>
	</array>
	<array>
		<string>http://n1-q.mafengwo.net/s14/M00/D0/F1/wKgE2l0Q7HKAElogAAfiN5t94zQ027.jpg</string>
		<string>曾经遥远的画面，她就在眼前。---路过欧洲意奥德瑞法5国</string>
		<string>……嗯，先来个文艺点的开头吧。
……似乎是很久以前的记忆了，那时的我还是个小年轻吧，心思跳跃，会经常更换电脑桌面壁纸，有一天我下载到了这张图片：……这次 欧洲 之行是家庭跟团出行，时间是2018年8月初。杂乱的日子周而复始，一直没有去整理这次旅行，一晃已经2019年4月，时间改变一切，那种刚回来的满腔思绪已经完全淡了下来，很多事和心情也已经淡忘，也许可能会在某天因为什么又重新想起吧。为了不至于完全忘却，决定还是写下行程留作记忆。当然，如果对即将去的你有点帮助，也是有意义的一件事。
……1、水平有限，所以游记里面的照片大家看个意思就好。实际风光完全不是跟团游的照片能体现的，特别是 瑞士 和 威尼斯 ，你满眼望去，都是一帧帧的电脑壁纸。 跟团游大部分时间都是在拍到此一游的人像留影，各种单人照各种集体照，等你想拍几张风光照的时候，导游和其他团友早已经在远处催促。
……2、因为对历史地理的爱好，行程回来后，我在谷歌地球上看了一遍整个行程，基本上找到了走的每条路，住的每个酒店，去的每个地方。如下图所示，行程自下而上，红色图钉分别是 意大利 的 罗马 、 佛罗伦萨 、 威尼斯 ， 奥地利 的 因斯布鲁克 、萨尔斯堡， 德国 的 贝希特斯加登 、菲森， 瑞士 的 卢塞恩 、 因特拉肯 、 伯尔尼 、 蒙特勒 ， 法国 的 欧塞尔 郊区、 巴黎 。
……PS：中间穿过的白色部分就是 阿尔卑斯山 脉。
……相对于那种自己做攻略自由行的 欧洲 游，我这叫路过 欧洲 也许更合适。</string>
	</array>
	<array>
		<string>http://p1-q.mafengwo.net/s15/M00/1E/44/CoUBGV5NJrmAHxAbAAawxFh4WjE287.JPG</string>
		<string>#圣诞节#追随高迪 西班牙葡萄牙</string>
		<string>如果说2019年还有什么没完成的事儿，那可能就是我的to do list上‘去 巴塞罗那 看圣家堂’还没实现。
本人在 英国 读研究生，本来打算圣诞节去 冰岛 看极光，奈何预约不上签证中心的位子，只能更换目的地。#签证#
上面说了我在 英国 念研究生，所以就直接在 伦敦 的 西班牙 签证中心递签。11.27递签，12.1就收到了签证。不得不说 西班牙 大使馆的出签速度真是良心（别问我为什么知道...）虽然只给了一个月有效期，并且是单次入境，但是倒也够用。
具体的材料准备在这里不细说，想要了解的朋友可以去看看 英国 红领巾的帖子以及小红书上面的经验介绍，非常详细。
#机票#
关于机票，本次形成因为跨越了 巴塞罗那 ， 马德里 以及 里斯本 三个城市，所以涉及了四趟航程。主要选择的还是性价比较高的 欧洲 廉价航空，四趟航程的价钱一共2500rmb左右。建议在官网购票
（一）易捷航空（easyjet）
易捷航空在 欧洲 地区的覆盖面还是很高的，而且价钱还很便宜，航班数量相对于其他廉价航空来说还是比较多，四趟航程中两趟都买了易捷航空。但是本人很不喜欢易捷的一点在于，如果不买托运行李就只能带一个手提登机箱上飞机，自己的双肩包也需要塞到行李箱里，就很麻烦。每次上飞机前在机场塞东西的情景还历历在目（真的很狼狈...）
（二）伏林航空（vueling）
伏林关于行李额就友好很多，除了登机箱，双肩背包也是可以允许带上飞机的。但是伏林的覆盖面就比较小，看运气能不能买到。个人还是非常喜欢伏林航空，他们家的飞机黄灰配色让人心情愉悦 keke
（三） 英国 航空
买 英国 航空的机票实属偶然。其实是因为我和朋友为了方便坐火车回学校，所以打算买回程到希思罗机场的机票。英航相对于廉价航空贵了一些，但是也不过是三四百人民币的事儿。
#酒店#
这次形成是两个女生出行，所以安全起见我们都选择了酒店。所有的酒店我都是在Booking上预定。
（一） 巴塞罗那
TRYP 巴塞罗那 阿波罗酒店（Tryp Barcelona Apolo）     Euro90/晚
性价比还算比较高的，酒店的门口就是地铁站。酒店的位置相对来说比较安全，不在老城区。从酒店坐地铁去景点还是很方便的。
（二） 马德里
格兰维尔塞斯酒店（Gran Versalles）    Euro76.5/晚
订这个酒店纯粹是因为它距离地铁站很近。硬件设施其实挺旧的，而且我们住了一个晚上还停电了...说多都是泪
（三） 里斯本
My Story Hotel Augusta      Euro107/晚
里斯本 住的酒店真的是我这趟行程最满意的酒店。酒店的地理位置很好，地铁站2分钟路程，而且酒店位于的是中心地段，附近有很多很多吃的。奥古斯街凯旋门就在附近，从酒店走去老城区的观景台什么的都非常方便。而且酒店前台的小哥哥小姐姐也很nice。总之就是100分！

#各种门票#
来说说这趟旅行的各种门票
仔细算算我们这次旅行涉及的门票并不是很多，基本上都是在官网上购买，而且我们去的时候是旅行淡季，所以这些景点都没有人排队。旺季去的朋友可以考虑买免排队的票。下面我就仔细说说！gogo!（一）圣家堂
官网地址： https://sagradafamilia.org/en/
我记得圣家堂的门票有很多种的，当时和朋友挑了最全面的一种。包括门票，语音导览，圣家堂tower登顶 一张票是Ero33
在这里我要说说登顶这件事，当时我查了很多游记，大家都说诞生立面看到的比较好看，所以我最后也就买了诞生立面的票。不过塔顶的观景台真的非常小，不过圣家堂登顶的人流控制得很好，买票的时候会让你填写预计登顶时间，不到时间或者错过了都是上不去的哦！对了，圣家堂登顶是电梯上去，走楼梯下来。不得不说走下来的楼梯有一段又窄又黑，而且还是旋转的，建议有恐高的朋友谨慎登顶吧！我朋友走下来的时候脚都是抖的。
放一张占领塔顶的自拍吧！
圣诞节应该是去 北欧 的好日子，但是为了享受旅行的清净，我反季节的选择了 西班牙 和 葡萄牙 ，这次行程一共8天，两个国家，三个城市。</string>
	</array>
	<array>
		<string>http://n1-q.mafengwo.net/s15/M00/47/E0/CoUBGV32Nh6AONVxAAKPx4S7XVQ101.JPG</string>
		<string>欧洲艺术之旅（梵高、莫奈、奥赛美术馆、卢浮宫）</string>
		<string>阿姆斯特丹 ，一个我向往已久的城市，我知道我早晚会去那边看一眼梵高。他是我的梦想之一，一直悬挂在未来，而老铥一鞭子把这个未来抽到了我眼前，我们就这样背上行囊，踏上了 西欧 的艺术之旅。 这一路，我怀着朝圣的心情，看尽我所能看到的，感受我所能感受到的，我是如此热爱如此不舍。 我不知道下一次再来会在什么时候，就像我不知道，我们还会不会再遇见。我想用游记的形式留住这份回忆，待日后长长久久的回味出发日早上九点集合，办手续，等待起飞。我和老铥吃了一点猪饲料（零食），期待着等到了 欧洲 吃好吃的。（但没想到， 欧洲 的东西大部分还没“猪饲料”好吃）登机时，我激动得像在走红毯，两位 荷兰 空姐还夸我包包好看，我用蹩脚的英语客套了一下，也不知道人家有没有听懂。为了和老铥坐在一起，前前后后换了三四次位置，好感谢团里爷叔阿姨的无私，也是在这个时候，我记住了第一位成员：英文老师--爷叔。。</string>
	</array>
	<array>
		<string>http://n1-q.mafengwo.net/s14/M00/7A/86/wKgE2l1Zc1aAA0imAAhvwxTCLtw052.jpg</string>
		<string>光影中欧，时光倒流中世纪的夏天</string>
		<string>回来后，这些天的片段如走马灯一般在我面前闪现。 维也纳 程亮的石板路上中世纪的马车哒哒驶过； 朝阳 从国会大厦后方喷薄而出映红了整个渔人堡；彩绘塔在CK的童话小屋间隙中时隐时现，查理大桥无论晨曦还是夕阳都耀眼得让人晕眩...每一种都串联着饱满的回忆，我仿佛看到了时间的密度。
曾经总有人问我为什么喜欢旅行，我都会说“想去看更多的生活方式，探索更丰富的可能性”。人在路上，不同的情绪会将自己与这 千山 万水连结。“当你决定出门时，旅途的麻烦已经减少了一半。”我无比庆幸自己某时某刻的冲动。这些冲动创造了波折，波折又会滋生浪漫——太过 平顺 安逸的旅行不值得我永远记住，有故事有风浪才是人生。</string>
	</array>
	<array>
		<string>http://p1-q.mafengwo.net/s15/M00/8E/E6/CoUBGV4GvlyAAcdBABOhmGdSsmo687.jpg</string>
		<string>致我们浪漫蜜月的小美好</string>
		<string>欧洲 ，迷之神往的神奇大陆，异域文化，欧式风情，绝美风景，对于我这样一个旅行发烧友来说，不踏上这片土地，便觉得生命有失完整。
旅行的意义，在于一路自由体验，一路自我解读，一路亦有人分享。
感恩生命中出现了那个愿意陪我浪迹世界走天涯的他。💗
时光匆匆，2018，我们定情浪漫 土耳其 ；2019，我们牵手 欧洲 蜜月行。
20天的时间里，我们观赏了拥有厚重文化宝藏的【 意大利 】，感受到了意式随性佛系的生活方式；我们游历了美如仙境的童话国度【 瑞士 】，学习到了 瑞士 人视环境为生命的精神及其兢兢业业严谨的态度；我们走进了时尚浪漫之都【 巴黎 】，体验了法式浪漫以及 法国 菜的精致；我们来到最美小镇之一的【 科尔马 】小镇，沉浸在五彩房子带来的梦幻中；我们感受了【 巴塞罗那 】阳光般的热情，惊叹高迪建筑带来的视觉盛宴。这些美好的体验深深地记在脑中，印在心里，让我对这个世界的认识又多了一点，生命旅程更充实了一些。

00_行前准备的Tips
【机酒】
行前预定机票和酒店，我都会多方比较价格，较为常用的是：
机票：飞猪，携程，天巡（国外航班信息更全）
酒店：Booking，Agoda（可免费取消的较多，但是境外客服很差），马蜂窝（赶上平台折扣会便宜）， Airbnb （适合停留2晚以上）
【签证】
欧洲 申根 签办理国家的选择：
此次行程停留时间最长的国家 or 首次入境的国家
我们此次选择的是 意大利 办理的 申根 签，原因是我们首次在 意大利 入境且停留时间最长 。
办理 意大利 申根 签，如果嫌麻烦，可以某宝找代办，服务费约300元/人。
但其实完全可以省下这笔钱，登陆 意大利 签证官网可以自行申请办理，页面有中文。 http://www.vfsglobal.cn/italy/china/chinese/index.html
所需文件：
1.官网下载的 申根 签证申请表&amp;checklist
2.往返机票&amp;酒店预订单
3.行程安排（穷游助手可以直接导出）
4.在职证明
5.公司营业执照
6.境外保险
7.银行流水
【公共交通】
城际/跨国交通：除了 巴黎 飞 巴塞罗那 ，其他均为火车。
意大利 ：推荐 意大利 铁路官网 https://www.trenitalia.com/en.html ，提前购票会有early bird 的票，比正常票价便宜一半。
瑞士 ：来 瑞士 ，一定不要停留小于4天，因为你一定会觉得时间太短，长时间的停留强烈建议购买 瑞士 通票，某宝上能找到比定价便宜很多的票，无需打印，电子票出示即可。持有Swiss Pass还可以享受某些景点缆车的半价优惠。
巴黎 ：在 巴黎 ，地铁基本覆盖了所有你可能会去到的景点。购买地铁票可以一次性购买10张，比分着买便宜很多。
巴塞罗那 ：在巴塞很适合沐浴在阳光中步行随意逛逛这座美丽热情的城市。公交和地铁也十分便利，常用可买10次票，不记名，可以多人使用，公交地铁通用。
Tips： 欧洲 火车和地铁，到站时车门不会自动打开，均需要手动按下车按钮。
【景点门票】
建议在各大景点的官网或者某宝上购买带【预约时间的门票】，这样只要在约定的时间内抵达，即可直接进入景点， 比如 卢浮宫，博物馆， 凡尔赛 宫，圣家堂等知名景点，预约时间会节省很多时间。
【其他必备】洗漱用品，拖鞋，转换插头，现金</string>
	</array>
	<array>
		<string>http://n1-q.mafengwo.net/s15/M00/3A/B6/CoUBGV4HGVKAF0t9AAqKESdNr-g333.jpg?imageMogr2%2Fthumbnail%2F%21230x142r%2Fgravity%2FCenter%2Fcrop%2F%21230x142%2Fquality%2F90</string>
		<string>“东西欧9国游”记事与感想</string>
		<string>一. 欧洲 ，令人向往的旅游胜地.
二. 旅欧行程与游览景点记事.
1. 旅游概况.
2. 逐日行程及游览景点.
Day01-02. 昆明 乘机飞抵 巴黎 .
Day02-15. 游览 欧洲 9国.
Day16-17. 巴黎 乘机返回 昆明 .
三. 主要游览景区“写文留言·存照留念”.
1. 琉森—— 瑞士 优美的旅游胜地,自然景观如诗如画!
2. 罗马 —— 意大利 首都,伟大的世界历史文化名城!著名的旅游胜地！
3. 佛罗伦萨 —— 意大利 历史文化名城,西方文艺复兴的摇篮！
4. 威尼斯 —— 意大利 著名 水城 ,亚得里亚海明珠!
5. 卢布尔雅那 —— 斯洛文尼亚 首都,美丽小城.
6. 萨格勒布 —— 克罗地亚 首都,历史古城.
7. 布达佩斯 —— 匈牙利 首都,多瑙河明珠!
8. 维也纳 —— 奥地利 首都,世界音乐之都!
9. 布拉格 —— 捷克 首都,美丽的历史名城!
10. 纽伦堡 —— 德国 玩具制造之乡,历史沧桑巨变之城!
11. 法兰克福 —— 德国 经济中心,新老城区风格迥异之城!
12. 巴黎 —— 法国 首都,艺术·时尚之都!极受欢迎的旅游胜地!
13. 游览 欧洲 重要景区(名称)记录.
四. 欧洲 旅游感想.
1. 欧洲 之旅,美好经历值得回味.
2. 欧洲 之旅,教堂之众印象深刻.
3.结语感言.
—————————————————

♥一. 欧洲,令人向往的旅游胜地.
欧洲 ，自然景观和人文景观丰富多彩，是一块令人向往的旅游胜地！
欧洲 历史悠久，人文荟萃，经济发达，交通便捷。 欧洲 各国丰富多彩的民族文化、数量众多的历史名胜古迹、名扬天下的著名旅游景区……一直吸引着世界各地旅游者的目光，吸引着各种肤色的人群赴欧旅游。了解 欧洲 灿烂文明、游览各国古迹美景、体验异国风土人情、感受不同文化氛围、开阔眼界增长见识……等等，所有这些，已成为众多旅游者的心声，同时也是自己未了的心愿！
终于，期待已久的赴欧旅游机会来临。2019年10月，参与从 昆明 组团出发的“东
西欧 9国游”成行，愿望成为现实，确实令人高兴！为了不忘游欧经历并留下美好回忆，特将见闻感受作一记录，写成文字并附随照片，以存念想，也是纪念！
在此，要对《马蜂窝》道一声谢谢!
《马蜂窝》为旅游者搭建了一个好平台，让“蜂蜂”们有了一个很好的信息交流之地！对于外出旅游，《马蜂窝》的老师说得好：“心若自由，行必无忧”！

♥二. 旅欧行程及游览景点记事.
●1. 旅游概况.
通过旅行社报名并办理赴欧旅游签证，参加了从 昆明 组团出发的“东 西欧 9国17日团体游”※[注]。旅游时间为2019年10月11日至27日；乘坐东方航空公司航班从 昆明 ~ 巴黎 直飞往返；“ 欧洲 9国游”路线为环形一圈游，旅游方向大致为：从 巴黎 出发，往南再往东，然后往北再往西，最后又返回 巴黎 ；旅游期间从始至终以同一辆大巴专车作城际交通；游览了东 西欧 9国10余个城市的很多知名景点；饮食以简易中餐为主；住宿以城市郊区高速路旁的“汽车旅馆”为多。
※[注]：原来向旅行社报名时的计划为
“ 欧洲 8国游”，但出发前旅行社将“8国游”
更改为“9国游”(原因系报名人数较少，故将原“8国游”与原“10国游”2个团合并为“9国游”1个团)。行程安排改为：在游览 斯洛文尼亚 首都“ 卢布尔雅那 ”之后，增加游览 克罗地亚 首都“ 萨格勒布 ”。因此，原“8国游”的行程路线稍有变动，但旅游日期未变。
游欧9国为： 瑞士 、 意大利 、 斯洛文尼亚 、 克罗地亚 、 匈牙利 、 奥地利 、 捷克 、 德国 、 法国 。简称依次为瑞、意、斯、克、匈、奥、捷、德、法。
旅游城市为： 科尔马 、琉森( 卢塞恩 )、 帕尔马 、 罗马 、 佛罗伦萨 、 威尼斯 、 卢布尔雅那 、 萨格勒布 、 布达佩斯 、 维也纳 、 布拉格 、 纽伦堡 、 法兰克福 、 巴黎 。
【游欧行程示意图】：</string>
	</array>
	<array>
		<string>http://p1-q.mafengwo.net/s15/M00/FA/E1/CoUBGV5fUKGAAk2-AARnaMtv55U30.jpeg</string>
		<string>一个人的欧洲自驾游，一路的邂逅，法兰西的浪漫，让你无法忘</string>
		<string>许久没有写过游记，许久没有马蜂窝的网站，重新找到了账号，只为与你分享一个女生一路 欧洲 自驾的所见所闻。历时一个月的 欧洲 自驾时光，仿佛犹如一场梦，邂逅了这么多有意思的人，的确让我无法忘怀。 法国 男生的浪漫， 西班牙 男生的奔放， 瑞士 男生的热情……这一路感谢遇到你们。
旅行，本该如此。
生活，本该充满希望。
人生，本该阳光与自信。
感谢这旅程给我开启了人生的万花筒一般的梦幻与美好。
行程日期
1.27 北京 出发 Beijing— 莫斯科 Moscow— 里昂 Lyon
1.28 里昂 Lyon
1.29 里昂 Lyon— 尼姆 Nimes （ 加尔 桥）
1.30 尼姆 Nimes— 卡尔马 格 Camargue—卡诺海滩
1.31 卡诺海滩 —Maguelone—滨海阿热莱斯 Argeles-sur-Mer
2.1 滨海阿热莱斯 Argeles-sur-Mer—— 科利尤尔 Collioure——罗塞斯 Roses—— 菲格拉斯 Figueres
2.2 菲格拉斯 Figueres—— 巴塞罗那 Barcelona
2.3 巴塞罗那 Barcelona
2.4 巴塞罗那 Barcelona
2.5 巴塞罗那 Barcelona
2.6 巴塞罗那 Barcelona—— 科利尤尔 Collioure
2.7 科利尤尔 Collioure
2.8 科利尤尔 Collioure—— 卡尔卡松 Carcassonne—— 阿维尼翁 Avignon
2.9 阿维尼翁 Avignon—— 奥朗日 Orange
2.10 奥朗日 Orange —— 里昂 Lyon
2.11 里昂 Lyon
2.12 里昂 Lyon
2.13 里昂 Lyon
2.14 里昂 Lyon—— 安纳西 Annecy—— 日内瓦 Gervais
2.15 日内瓦 Gervais—— 洛桑 Lausanne
2.16 洛桑 Lausanne
2.17 洛桑 Lausanne—— 蒙特勒 Montreux —— 洛桑 Lausanne
2.18 洛桑 Lausanne—— 格吕耶尔 Gruyeres——比勒 Bulle
2.19 比勒 Bulle——伯恩 Bern——苏米斯 瓦尔德
2.20 苏米斯 瓦尔德 ——埃朔尔茨马特 Escholzmatt—— 卢塞恩 （琉森）Luzern
2.21 卢塞恩 （琉森）Luzern—— 苏黎世 Zurich—— 卢塞恩 （琉森）Luzern
2.22 卢塞恩 （琉森）Luzern—— 巴塞尔 附近 Wolschwiller
2.23 巴塞尔 附近 Wolschwiller—— 莫尔日 Morges
2.24 莫尔日 Morges—— 里昂 Lyon
2.25 里昂 Lyon—— 北京 Beijing

关于交通
第一段租车行程：1.29——2.11（13天） 里昂 - 巴塞罗那 - 里昂 ，行驶1900KM；
第二段租车行程：2.13——2.25（12天） 里昂 - 苏黎世 - 里昂 ，行驶1300KM；
关于租车
此次旅行租车是重点，很幸运的选择了租租车作为租车平台，服务及价格都是超强优势！
双十一决定下单租车服务，价格比平时优惠很多！
作为理论驾龄10年，实际驾龄1年的女司机~果断选择了自动挡及全时四驱的沃尔沃V90座驾，希望能为这次旅行提供更多的保障。

租租车亮点服务：
1、国际驾照翻译服务：免费翻译简单方便！
2、24小时客服服务：靠谱！
3、app在线网络电话服务：贴心！
4、取车还车提醒服务：简直不能再人性化了！
5、租车拍照功能：我想抱抱租租车的产品经理...太了解用户痛点啦！


租车细节注意事项：
1、租车公司选择：主要关注是不是限制公里数，另外大品牌的租车公司还车服务更可靠。
2、租车合同：一定要仔细查看车辆，剐蹭的地方要标注好，并且查看合同邮件是否标记完全。
3、取车机构联络方式：不一定有用，但是最好添加一位工作人员的whatsapp,以备不时之需。
4、取车还车地点：不要轻易改变地点，因为租车机构很少接电话，租租车平台也是爱莫能助的吖。
5、租车熟悉车辆：如果你真的不熟悉车辆情况以及一些功能，店员可以帮助讲解。
6、还车清洁问题：机构会通过车的内部清洁程度，收取一定的清理费用。座位尽量清理干净，不留垃圾。
7、还车加油：注意还车事项，满借满还一定要在还车地点附近将邮箱加满，并留好加油小票。
8、还车地点：这一点比较坑， 里昂 的还车地点与app不一致，需要在地图上搜索才能到达实际地址。
9、租车保险：有经验的小伙伴可以在门店选择购买保险，这样如果出了事故自己是不需要垫付的。
10、租车地点：人流越大的店铺，可以选择的车辆越多，但是当地品牌的车会多余进口品牌。


以上注意事项都是租车过程中的小心得，下面有一些实际出现的情况详细说明。
作为驾驶小白的我，初次 欧洲 旅行就选择了自驾实在是傻大胆儿，多亏了好心人一路相助！好运到选择BUDGET租车公司，居然是与AVIS的不同品牌同一公司！服务自然不用说，还车也很大条。订单租车是沃尔沃V90，实际给的是奔驰E300。在行驶了1000公里之后，屏幕提示需要添加ADBLUE,多亏在店铺找了小哥哥要了联络方式，及时帮我解答了问题，并且在第二段租车的时候，记得要工作人员将此溶液填满。ADBLUE,是提醒车主要添加雾状尿素水溶液，屏幕会有倒数公里数提醒。
</string>
	</array>
	<array>
		<string>http://b1-q.mafengwo.net/s15/M00/91/0D/CoUBGV4Ax0uAA_xlAAqpokQswAk608.jpg?imageMogr2%2Fthumbnail%2F%21230x142r%2Fgravity%2FCenter%2Fcrop%2F%21230x142%2Fquality%2F90</string>
		<string>徒步欧洲35天（干货、多图）</string>
		<string>国家列表
按入境顺序：
俄罗斯 🇷🇺
芬兰 🇫🇮
爱沙尼亚 🇪🇪
拉脱维亚 🇱🇻
立陶宛 🇱🇹
波兰 🇵🇱
匈牙利 🇭🇺
意大利 🇮🇹
马耳他 🇲🇹
希腊 🇬🇷
土耳其 🇹🇷
哈萨克斯坦 🇰🇿

策划
7月底得知，未来的9月2日到10月18日将会有一个50天的长假，媳妇儿正好想换工作，赋闲在家，于是我们开始谋划一次长途旅行。说走咱就走！
这次旅行一共35天，相信大多数朋友没有这么长的假期。因此我把这次长途旅行的游记切割成几个小的板块，每一个小的部分都可以当作是一次小旅行，争取把各个国家的精华部分展现出来，希望能帮到正在谋划自由行的朋友～
码字不易，如果喜欢，劳驾点赞哦！之后我会努力把曾经走过的三十几个国家的自由行经历陆续发布，感谢支持！

机票
去哪儿？去多久？
因为前些年在 葡萄牙 上学的时候，利用各种各样的假期已经把 匈牙利 、 捷克 以西的 欧洲 大陆走了一遍，留下了 东欧 和 北欧 还没去过，于是，便打算用这次长假把心心念念、种草已久的 东欧 给逛了。
九月初的前几天需要先处理一下家里的事情，因此计划9月10号左右出发，于是通过各种方式搜索价格比较划算的机票，以确定具体的出行时间。单程、多程、往返，全都尝试着搜了一遍，最终确定为：去程9月12日“ 北京 - 赫尔辛基 ”，回程10月16日“ 伊斯坦布尔 - 阿拉木图 - 北京 ”。 申根 区29天， 土耳其 5天， 哈萨克斯坦 1天，总共35天。
这里列几个常用的app：飞猪、携程、马蜂窝、旅行雷达（微信公众号），但大都差不多，因为归根结底的票源都是来自各个航空公司。

签证
怎么办理？多少钱？
东欧 大部分都是 申根 国家或者是持 申根 签证免签国家（注意：两者不一样，下面会讲到），所以 申根 签证是免不了的。另外还要办 土耳其 电子签。而 哈萨克斯坦 不需要办理签证，因为如果乘坐 阿斯塔纳 航空在 哈萨克斯坦 中转的话， 中国 人可以享受免签入境停留72小时。而我们定的机票恰好是 阿斯塔纳 航空，清早到 阿拉木图 ，晚上离开，留一个白天，刚刚好去一趟大 阿拉木图 湖，逛逛市区。
申根 签证可以从各种app上购买，也可以自己办。其实所谓 申根 签证说白了就是 申根 区26个国家任一国家的签证都可以同行所有 申根 国家，分多次入境和单次入境。大约 北京 领事区800人民币， 土耳其 签证就自己从网上申请，付款完成后，电子签证会通过邮箱收到，PDF格式的，黑白打印出来就好，大约63美金。
真的很希望以后祖国强大了，去哪都免签，那可真叫说走就走！

酒店和交通
每天住哪儿？各个地方怎么到达？
酒店和交通要根据具体的行程来制定，而交通情况也会反过来影响行程，所以要综合考虑，有所取舍。
我这次的大体计划就是从 赫尔辛基 入境，坐船南渡 芬兰 湾，从 塔林 登上 欧洲 大陆，之后便乘汽车或火车先后途径 爱沙尼亚 、 拉脱维亚 ， 立陶宛 ， 波兰 ， 斯洛伐克 ，到达 匈牙利 ，然后开启飞行模式： 意大利 、 马耳他 、 希腊 、 土耳其 、 哈萨克斯坦 ，最后回到 北京 。大概的行进方向在地图上呈L型，因此我把这次旅行取名为“L行动”。
大家会发现 土耳其 之前的国家都是 申根 国家，在这里就要讲一下为什么安排这些国家了，顺便也回答一下签证那段抛下的问题。因为我拿到的是单次 申根 签，意思是只能进出一次 申根 区，而一旦出了 申根 区，就没办法再次回到 申根 区了。所以我只能选择前面在 申根 区国家，出 申根 区后，再去 土耳其 和 哈萨克斯坦 。本来我们是想去一趟 克罗地亚 （非 申根 区国家，但可持 申根 签证入境），结果签证出来一看，我媳妇是多次签，而我是单次签，最后无奈只好舍弃 克罗地亚 了。
国家定下来后，就要考虑具体去哪些城市、小镇（其实也可以先想好要去哪些城市、景点，再考虑怎么串联国家），这里需要考虑两方面的因素：城市的吸引力、交通是否便利。于是先大体制定了城市清单，然后再一段一段地查怎么从上一个地方到下一个地方，用什么交通工具、大概需要多久。因为途径的地方比较多，所以这个过程是很辛苦的，各个国家的交通官网都看过，而有些国家的网站上还没有英文，大大增加了查询难度。这个过程真的是无所不用其极，在此列一些使用过的app或者大巴官网供大家参考：国外的有三家大巴官网FlixBus、EuroLine、Omio， 希腊 大巴官网，TripAdvisor App，Rome2Rio App，Google地图；国内的有马蜂窝、穷游、穷游锦囊、携程。感兴趣的朋友如果有行程相关的问题，可以在下面留言，一定回复。
订酒店的注意事项：长期旅途的话，如果预算不是很充足，一直住的很贵会肉疼，所以订什么样的酒店就很关键了。在此跟大家分享一些贴心小卫士：1、要干净，多看网友评论，2、交通便利，具体指离火车站或者汽车站比较近，3、走的城市比较多，因此不要一直打一枪换一个地方，不然你会发现衣服洗完干不了，所以要隔三差五地在某个能洗衣服的地方多住两天。其实高分的民宿是很不错的选择。
至此，行程敲定，共计35天，途径12个国家，花费大约52000元（两个人）。

闲言碎语不多讲，上图为敬（所有图均为手机拍摄的原图，重在真实感，拒绝浮夸的修图）！</string>
	</array>
</array>
</plist>
